<ion-view view-title="{{appName}}" style="display: flex">
  <ion-content>
    <ion-refresher pulling-text="Arraste para atualizar..." on-refresh="loadData()" spinner="none">
    </ion-refresher>
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page ng-repeat="data in homeData" class="flex">
        <div style="flex: 1" class="flex flex-column slider-body">
          <div class="slider-image">
            <img ng-src="{{data.image}}">
          </div>
          <div class="slider-text">
            <a ng-href="#{{data.link}}">
              <h2 ng-style="ngStyle.h2">{{data.title}}</h2>
              <p ng-style="ngStyle.p">
                {{data.description}}
              </p>
            </a>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>

    <!-- <div class="wrapper">
     <ribbon-corner>Teste</ribbon-corner>
    </div>​ -->
  </ion-content>
  </div>
</ion-view>
