<ion-view view-title="{{obj.name}}">
  <ion-content>
    <div ng-if="obj.list">
      <div class="list">
        <a
          class="item item-thumbnail-left"
          href="#/app/view-product/{{product.id}}"
          ng-repeat="product in obj.products"
          style="align-items: center">
          <img ng-src="{{product.thumbnail}}">
          <h2>{{product.title}}</h2>
          <!-- <p>Nine Inch Nails</p> -->
        </a>
      </div>
    </div>

    <div ng-if="!obj.list">
      <div class="products-grid">
        <div class="grid-item" ng-repeat="product in obj.products">
          <div class="list card">
            <div class="item item-image">
              <ribbon-corner ng-if="isPromo(product)">Promoção!</ribbon-corner>
              <a href="#/app/view-product/{{product.id}}">
                <img ng-src="{{product.thumbnail}}">
                <div class="description">
                  <p>{{product.title}}</p>
                </div>
              </a>
            </div>
            <div class="item item-text-wrap">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
