<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Voltar
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <img ng-src="{{logo}}" class="navbar-icon" alt="">
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button
          class="button button-icon button-clear ion-android-more-vertical"
          style="margin-right: 10px"
          ng-click="openPopover($event)">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <!--  -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content ng-controller="MenuCtrl">
      <div class="logo-menu">
        <img ng-src="{{logo}}">
      </div>
      <ion-list>
        <ion-item
          menu-close
          collection-repeat="item in menuItems"
          class="item-icon-left"
          ng-href="{{item.route}}"
        >
          <i class="icon {{item.icon}}"></i>
          {{item.name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<script id="popover.html" type="text/ng-template">
  <ion-popover-view class="menu-popover">
    <ion-content>
      <ion-list>
        <ion-item ng-click="changeState('register')">
          Minhas Informações
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>
