<ion-view>

  <ion-content ng-style="ngStyle.content">
    <ion-refresher
      pulling-text="Arraste para atualizar..."
      on-refresh="loadData()"
      spinner="none">
    </ion-refresher>
    <ion-slides style="flex: 1" class="product-slider" options="options" slider="data.slider">
      <ion-slide-page ng-repeat="image in obj.product.images" class="flex">
        <div class="slider-image">
          <img ng-src="{{image.url}}">
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="padding">
      <h2 ng-style="ngStyle.h2">
        {{obj.product.title}}
      </h2>
      <small ng-style="ngStyle.small">
        {{obj.product.short_description}}
      </small>
      <div class="product-content" ng-style="ngStyle.description" ng-bind-html="obj.product.description">
      </div>
    </div>

  </ion-content>
</ion-view>
